.boxes {
    display: flex;
    justify-content: space-around;
}

.box {
    background-color: yellow;
    width: 200px;
    height: 200px;
}

.new-color {
    background-color: pink;
}

p {
    width: 100%;
}

.hide {
    display: none;
}